:root {
    --accent-color: #2196F3;
    --secondary-color: #757575;
    --title-color: #212121;
    --color-for-dark: #FFFFFF;
}
html{
box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: inherit;
}
/* сброс нижнего подчёркивания */
.link {
    text-decoration: none;
}
/* сброс маркеров в списках */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
body {
font-family: 'Roboto', sans-serif; 
margin: 0;
}
h1, h2, h3, h4, h5, h5, p{
margin-top: 0;
margin-bottom: 0;
}
.container {
width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
outline: 2px solid pink;
}
.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--title-color);
text-align: center;
margin-bottom: 50px;
}
/* ============ стили к блоку header ============ */
.header-flex {
display: flex;
align-items: center;
}
.top-header {
border: 1px solid #ECECEC;
}
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000 ;
margin-right: 93px;
}
.logo-header {
padding-top: 24px;
padding-bottom: 24px;
}
.menu-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-color);
padding-top: 32px;
padding-bottom: 32px;
display: block;
}
.menu-link:hover,
.menu-link:focus {
color: var(--accent-color);
}
.menu .menu-item +.menu-item{
margin-left: 50px;
}
.menu {
display: flex;
}
.header-contact {
display: flex;
margin-left: auto;
}
.header-contact .header-contact-item + .header-contact-item{
margin-left: 50px;
}
.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-color);
display: block;
padding-top: 32px;
padding-bottom: 32px;
}
.header-tel:hover,
.header-tel:focus {
color: var(--accent-color)
}
.header-mail {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-color);
padding-top: 32px;
padding-bottom: 32px;
display: block;
}
.header-mail:hover,
.header-mail:focus {
color: var(--accent-color)
}


/* ============ /стили к блоку header ============ */


/* ============ стили к блоку hero ============ */
.hero {
background-color: #2F303A;
padding-top: 200px;
padding-bottom: 200px;
}
.hero-container {
width: 650px;
text-align: center;
margin-right: auto;
margin-left: auto;
}
.main-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36; 
color: var(--color-for-dark);
text-transform: uppercase;
}
.modal-btn {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.85;
letter-spacing: 0.06em;
color: var(--color-for-dark);
background-color: #188CE8;
min-width: 200px;
cursor: pointer;
padding: 10px 32px;
margin-top: 30px;
}
.accent {
color: var(--accent-color);
}
/* ============ /стили к блоку hero ============ */


/* ============ стили к блоку description ======== */
.sub-title-advantages {
font-weight: 700;
font-size: 14px;
line-height: 1;
letter-spacing: 0.03em;
color: var(--title-color);
text-transform: uppercase;

margin-bottom: 10px;
}
.description-advantages {
font-weight: 400;
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;
color: var(--secondary-color);
}
.list-advantages {
display: flex;
padding-top: 94px;
padding-bottom: 94px;
text-align: start;
}
/* .list-advantages-card {
width: 270px;
} */
/* .list-advantages .list-advantages-card + .list-advantages-card {
margin-left: 30px;
} */
.list-advantages .list-advantages-card:not(:last-child) {
margin-right: 30px;
}

/* ============ /стили к блоку description ====== */

/* ============ стили к блоку operation======*/
.operation-list {
display: flex;
padding-bottom: 94px;
}
/* .operation {
margin-bottom: 94px;
} */
.operation-list .operation-list-link:not(:last-child) {
margin-right: 30px;
}
/* ============ /стили к блоку operation======*/


/* ============ стили к блоку our team ====== */
.our-team {
background-color: #F5F4FA;
}
.section-list {
display: flex;
padding-bottom: 94px;
}
.our-team-card {
background-color: var(--color-for-dark);
outline: 2px solid black;
text-align: center;
}
.our-team-card-sub {
padding-top: 30px;
padding-bottom: 30px;
}
.section-list .our-team-card:not(:last-child){
margin-right: 30px;
}
.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.18em;
letter-spacing: 0.03em;
color: var(--title-color);
margin-bottom: 10px;
}
.team-position {
font-weight: 400;
font-size: 16px;
line-height: 1.18em;
letter-spacing: 0.03em;
color: var(--secondary-color);
}
/* ============ /стили к блоку our team ====== */

/* ============ стили к блоку footer ====== */
.bottom-site {
background-color:#2F303A;
padding-top: 60px;
padding-bottom: 60px;
}
.logo-for-dark {
color: var(--color-for-dark);
display: inline-block;
margin-bottom: 20px;
}
.footer-contact {
font-family: inherit;
font-style: inherit;
font-weight: 400;
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;
}
.footer-address {
color: var(--color-for-dark);
margin-bottom: 9px;
}
.footer-address:hover,
.footer-address:focus {
color: var(--accent-color);
}
.footer-mail {
color: rgba(255, 255, 255, 0.6);
margin-bottom: 9px;
}
.footer-mail:hover,
.footer-mail:focus {
color: var(--accent-color);
}
.footer-tel {
color: rgba(255, 255, 255, 0.6);
}
.footer-tel:hover,
.footer-tel:focus {
color: var(--accent-color);
}

/* ============ /стили к блоку footer ====== */


/* ============ стили к странице портфолио ====== */
.portfolio-container {
padding-top: 94px;
padding-bottom: 94px;
}
.project-link {
display: flex;
margin-bottom: 50px;
justify-content: center;
}
.project-link .project-link-type:not(:last-child) {
margin-right: 8px;
}
.project-type {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--title-color);
background-color: #F5F4FA;
cursor: pointer;
outline: 2px solid black;
}
.project-type:hover,
.project-type:focus {
background-color: var(--accent-color);
color: var(--color-for-dark);
}
.button-accent {
background-color: var(--accent-color);
color: var(--color-for-dark);
}
.project-name {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);
margin-bottom: 4px;
}
.card-project-type {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--secondary-color);
}
.gallery {
display: flex;
flex-wrap: wrap;
}
.example-gallery {
/* width: 380px; */
margin-right: 30px;
margin-bottom: 30px;
outline: 3px solid green;
}
.example-gallery:nth-last-child(-n+3) {
margin-bottom: 0;
}
.example-gallery:nth-child(3n){
margin-right: 0;
}
.example-gallery-list {
padding-top: 20px;
padding-bottom: 20px;
padding-left: 24px;
padding-right: 24px;
}


/* ============ /стили к странице портфолио ====== */